body{
    margin: 0;
    font-family: sans-serif;
    background-color: #ccc;
}

div,body{
    box-sizing: border-box;
}

.flexbox{
    display: flex;
    flex-flow: row wrap;
    border: 2px solid #000;
    margin: 20px;
    height: 100px;
    align-items:center ;
    justify-content: space-evenly;
    background-color: #fff;
}

.flex-item{
    background: rgb(136, 0, 0);
    color: white;
    font-size: 40px;
    text-align: center;
    direction: rtl;
    width: 100px;
    height: 50px;
    order: 1;
}

.flex-item:first-child{
    background-color: rgb(255, 119, 119);
    order: 1;
}
.flex-item:last-child{
    background-color: black;
    order: 0;
}
