body{
    font-family: sans-serif;
    margin: 0;
    height: 100vh;
}

.box{
    width: 120px;
    height: 120px;
    background-color: red;
    margin-top: 50px;
    /*transition-property: left;
    transition-duration: 1s;
    transition-delay: 3s;*/
    transition: left 1s cubic-bezier(0.075, 0.82, 0.165, 1) 2s;
    position: relative;
    left: 0;
}

body:hover .box{
    background-color: blue;
    left: 400px;
}